.pagination {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 5px 10px;
    border: none;
    background: white;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .pagination .active {
    color: #003b99;
  }
  