.topbar{
    background: #fff;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-areas: "logo logo links1 links1 links1 links1 links1 links1 user user";
    box-shadow:  #062E6B 10px;
    border: 1px  #062e6b2f solid;
    border-radius: 30px;
    padding: 0;
    height: 80px;
}
.logo{
    display: grid;
    grid-area: logo;
    align-items: center;
}
.links1{
    display: grid;
    grid-area: links1;
    align-items: center;
}
.nav-links1 {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: flex-start; 
    flex: 1;
    padding-left: 40px;
    }
    
    .nav-links1 a {
    
      text-decoration: none;
      font-family: "Epilogue", sans-serif;
      font-weight: 500;
      font-size: 16px;
      transition: color 0.3s ease;
    }
  
    .nav-links1 a:hover {
        text-decoration: underline #003b99;
    }.user{
    display: grid;
    grid-area: user; 
    justify-content: end;
    align-items: center;
    margin: 0 32px;
}
a{
    margin: 0 25px;
}