.user-section {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .notification {
    position: relative;
    font-size: 20px;
  }
  
  .badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
  }
  
  .user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .iconnot{
    cursor: pointer;
  }